.btn {
	height: 32px;
	font-size: 15px;
	border-radius: 4px;
	padding: 0 10px;
	font-family: 'Baloo Paaji 2';
	background: none;
	border: none;
	text-transform: uppercase;
	font-weight: 600;

	&--secondary {
		color: #1abc9c;
	}
}
