.app__editNoteContainer {
	margin-top: 20px;
	width: calc(100vw - 24px);

	&__title {
		padding: 12px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		h2 {
			color: #444;
			font-size: 'Merriweather';
			margin: 0;
		}
	}
}

@media (prefers-color-scheme: dark) {
	.app__editNoteContainer {
		&__title {
			h2 {
				color: #aaa;
			}
		}
	}
}
